.main-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 2fr ;
    gap: 3px;

}
body{
    background-color: white;
}
.counter{
    color:black;
}
.cnt{
    border:2px solid black;
    /* width: 156px; */
}
.btn{
    cursor: pointer;
    padding: 3px;
    margin-bottom: 2px;
}
.btn:active{
    opacity: 0.5;
}
h3{
    display: inline-block;
    cursor: pointer;
    align-self: center;
}
h3:active{
    opacity: 0.5;
}
.btn-flex{
    display: flex;
    justify-content:space-around;
    
}
/* SECOND */

.caseConverter{
    /* display: inline-block; */
    border:2px solid black;
}

.convert{
    padding:5px;
}



/* THIRD */
.realTime-text{
    border:2px solid black;
}
.input-box{
    margin: 2px;
}
.letter-cnt{
    margin:2px;
}


/* FOURTH */
.image-slider{
    
    border:2px solid black;
}
img{
    height: 200px;
    width: 100%;
}