*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: black;
}
img{
    width: 100%;
    border: 5px solid white;
}
h1{
    font-family: "Libre Baskerville", serif;
    text-transform:uppercase;
}
div{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top:7%;
}
.content{
    color: white;
}